@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --main-font: 'Ubuntu', sans-serif;
  --black: #2B2D42;
  --white: #EDF2F4;
  --red: #EF233C;
  --yellow: #FFAD03;
}

/*********/
/* RESET */
/*********/

/* Para las flechas de arriba y abajo en Chrome, Safari, Edge, y Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************/
/* MI CÓDIGO */
/*************/

body {
  font-family: var(--main-font);
  background-color: var(--black);
  color: var(--white);
}

h1 {
  text-align: center;
}

h1, h2 {
  color: var(--yellow);
  padding-block: .5rem;
}

main {
  padding: 1rem;
}

.objective {
  padding: 1rem;
}

.description {
  padding: 1rem;
}

@media (min-width: 768px) {
  .user-data {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
}

/********************/
/* INPUT DEL NÚMERO */
/********************/

.number-reception {
  margin-bottom: 1rem;
  line-height: 2;
}

@media (min-width: 768px) {
  .number-reception {
    display: flex;
    flex-direction: column;
    line-height: initial;
  }
}

.number-reception label {
  margin-right: .5rem;
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--yellow);
}

@media (min-width: 768px) {
  .number-reception label {
    margin-right: 0;
    margin-bottom: .5rem;
  }
}

.number-reception input {
  padding: .5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  text-align: center;
}

/*****************/
/* SELECTOR BASE */
/*****************/

.base-selector {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .base-selector {
    display: flex;
    flex-direction: column;
  }
}

.base-selector label {
  margin-right: .5rem;
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--yellow);
}

@media (min-width: 768px) {
  .base-selector label {
    margin-bottom: .5rem;
    margin-right: 0;
  }
}

.base-selector select {
  padding: .5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  text-align: end; /* Centra las opciones del dropdown */
  text-align-last: center;
}

/*********************/
/* BOTÓN Y RESULTADO */
/*********************/

.user-data button {
  height: 38px;
  padding: .5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  background-color: var(--yellow);
  color: var(--white);
}

@media (min-width: 768px) {
  .user-data button {
    margin-bottom: 0;
  }
}

#result {
  padding: 2rem 3rem;
  background-color: var(--red);
  font-size: 1.5rem;
  font-weight: 800;
  border-radius: 5px;
  display: inline-block;
  text-wrap: wrap;
  max-width: 100%;
  /* Para no hacer overflow con números muy largos */
  word-break: break-word; /* para navegadores más antiguos */
  word-break: break-all;
}